#/etc/systemd/system/etherguard-super.service
[Unit]
Description=Etherguard supernode
After=network.target

[Service]
User=root
Group=root
Type=notify
ExecStartPre=+mkdir -p /var/run/wireguard
#ExecStartPre=+chgrp etherguard /var/run/wireguard
#ExecStartPre=+chmod 775 /var/run/wireguard
ExecStart=etherguard-go -config /etc/eggo/super.yaml -mode super
Nice=5

[Install]
WantedBy=multi-user.target
